node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
dist-desktop/
assets.zip

# .NET Build and Temp files
[Oo]bj/
[Bb]in/**/*
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb

# Allow specific compiled Reader binaries/configs needed by the app server
!/Reader/ReaderBridge/bin/**/*.exe
!/Reader/ReaderBridge/bin/**/*.dll
!/Reader/ReaderBridge/bin/**/*.config
!/Reader/TagReaderCore/bin/**/*.dll
